body {
    background-color: #d6c8c2;
    }
    h1{
        color: #205295
    }
    h2{
        color: #205295
    }
   hr {
        background-color: #d6c8c2;
        border-style: none ;
        border-top-style: dotted;
        border-color: grey;
        border-width: 2px;
        width: 100%;
      
    }
